<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guo.samples"
    android:versionCode="1"
    android:versionName="1.0" >


    <!-- wifi internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.guo.samples.PermissionAcitivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.guo.samples.ImageListNetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.ImageViewActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="com.guo.samples.ImageListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.WidgetActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.HListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.HCSListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.CameraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.Camera2Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.VideoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.UDPActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.SocketActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.SocketClientActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.guo.samples.SocketServerActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
